{
  "cx" -3.2,
  "cy" 0.5,
  "r" 4.0,
  "n" 3500,
  
  "bg" "white",

  "fills" [
    ; {"color" "white", "opacity" 0.8},
    ; {"color" "fuchsia", "opacity" 0.7},
    ; {"color" "blue", "opacity" 0.7},
    {"color" "aqua", "opacity" 0.7}
    ; {"color" "black", "opacity" 0.7}
    {"color" "white", "opacity" 0.7}
  ]

  "strokes" [
    {"color" "#ffffff", "opacity" 0.0},
  ]

  "shapes" [6],
  ; "shapes" [3, 6],
  ; "shapes" [3],

  "res" {
    "x" 1600,
    "y" 1200
  }
}
