{
  "cx" -3.2,
  "cy" 0.5,
  "r" 4.0,
  ;"n" 1000,
  "n" 3500,
  ;"n" 30,
  "bg" "white",

  "fills" [
	{"color" "#FF69B4", "opacity" 0.5},
	{"color" "#00FFFF", "opacity" 0.5},
  ]

  "strokes" [
	{"color" "#ffffff", "opacity" 0.0},
  ]

  "res" {
    "x" 1600,
    "y" 1200
  }
}